.textalign{
    /* text-align: right; */
    /* text-align: center; */
    /* text-align: left; */
    text-align: justify;
}

.textdecoration{
    /* text-decoration: line-through; */
    text-decoration: overline;
    /* text-decoration: underline; */
}

.textline{
    /* letter-spacing: 5px; */
    /* line-height: 10px; */
    /* line-height: 4; */
    line-height: 150%;
}

.textshadow{
                /* hol ver blur color */
    text-shadow:10px 5px 5px #0ee36e;
}